body{
  font-family: 'Roboto', sans-serif;
  margin: 5% 20% 5% 20%;
}

*{
  box-sizing: border-box;
}

#login-container{
  background-color: #E2E8F0;
  width: 100%; 
  padding: 10% 0 10% 0;
}

form{
  padding: 10% 0 0 0;
}

img{
  float: left;
  margin: 0 40% 0 40%;
  animation-name: spin;
  animation-duration: 2s;
}

@keyframes spin {
  100% {
    -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari prior 9.0 */
  transform: rotate(360deg); /* Standard syntax */
 }
  }

input[type="email"], input[type="password"] {
  width: 70%;
  height: 45px;
  margin-left: 15%;
  margin-right: 15%; 
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  outline: none;
}

#submit{
  width: 70%;
  padding: 15px;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  background-color: #3182CE;
  margin: 5% 15% 0 15%;
  font-weight: bold;
}

#submit:hover{
  cursor: pointer;
}

.email-label, .password-label {
  font-size: 20px;
  color: 	#5A5A5A;
  font-size: 18px;
  margin-left: 15% 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/


@media (min-width: 481px) and (max-width: 767px) { 
  body{
    margin: 0 0 0 0;
  }
  
  #login-container{
    background-color: #E2E8F0;
    width: 100%; 
    padding: 15% 0 15% 0;
    margin: 0 0 0 0;
  }
 
  form{
    padding: 20% 0 20% 0;
  }
  
  img{
    float: left;
    margin: 0 35% 0 35%;
  }
  
  input[type="email"], input[type="password"] {
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%; 
  }
 
  .email-label, .password-label {
    font-size: 18px;
    margin-left: 10%; 
  }
  
  #submit{
    width: 80%;
    padding: 12px;
    margin: 10% 10% 0 10%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body{
    margin: 0 0 0 0;
 
  }
  #login-container{
    background-color: #E2E8F0;
    width: 100%; 
    padding: 20% 0 20% 0;
    margin: 0 0 0 0;
 
  }
  form{
    padding: 25% 0 25% 0;
 
  }
  img{
    float: left;
    margin: 0 30% 0 30%;
  }
 
  input[type="email"], input[type="password"] {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%; 
  }
 
  #submit{
    width: 80%;
    padding: 12px;
    margin: 10% 10% 0 10%;
  }
  
  .email-label, .password-label {
    font-size: 16px;
    margin-left: 5%; 
  }
}


